name: Deploy Infrastructure
on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  deploy_infra:
    name: Deploy AWS Infrastructure
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
      - uses: actions/checkout@v4

      - name: Setup Cred
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::493475752675:role/GithubActions
          role-session-name: github-actions

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      # - name: Terraform init
      #   id: init
      #   run: terraform init

      # - name: Terraform Plan
      #   id: plan
      #   run: terraform plan       

      # - name: Terraform apply
      #   id: apply
      #   run: terraform apply --auto-approve

      - name: Initialize Terraform
        run: terraform init -reconfigure

      - name: Re-add provider configuration
        run: |
          echo 'provider "aws" {
            region = "us-east-1"  # replace with your AWS region
          }' > provider.tf
          terraform init -reconfigure

      - name: Destroy orphaned resources
        run: |
          terraform state list | grep module.tf-vpc | while read resource; do
            terraform destroy -target=$resource -auto-approve
          done

      - name: Verify state
        run: terraform state list

      - name: Remove provider configuration
        run: |
          rm provider.tf
          terraform init -reconfigure
          terraform validate

      - name: Apply changes
        run: terraform apply -auto-approve
